<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>header}}
</head>
<body>
    {{>navbar}}
    
     <div class="container-fluid main_header" >
       <div class="row">
           <div class="col-md-10  col-12 mx-auto">
               <div class="row">
                    <!-- left side div-->
                  <div class="col-md-6  col-12 main_header_left">
                      <h2> Welcome to Amazon Services</h2>
                      <p>Earn money through <span>Amazon</span> Web Services
                      It will help you alot in every amazon website</p>
<button onclick="location.href='login'" class="btn-Register1"><i class="fa fa-download"></i> Download</button>

                  </div>
                   <!-- right side div-->
                  <div class="col-md-6  col-12 main_header_right">
                      <img src="images/a4.jpeg" width="400" height="300"></img>
                      </div>

               </div>
               <button onclick="location.href='noticeb'" class="btn-header1" >
 List
</button>
<button onclick="location.href='update'" class="btn-header2" >
 Update
</button>   
<button onclick="location.href='delete'" class="btn-header2" >
 delete
</button>
               </div>
               
  </div>
  </div>
                   
              
    {{>footer}}
</body>
</html>